.dashboard-container{
    padding: 1rem;
    
}
.dashboard-container main {
    display: flex;
    gap:  1rem;
}

.dashboard-items{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px 2px gray;
    padding: 0rem 2rem;
    border-radius: 0.5rem;
}